<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>LANG-line | Ошибка</title>
  <link rel="stylesheet" type="text/css" href="/static/css/index.css" media="all" />
  <!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie.css" media="all" /><![endif]-->

</head>
<body id="index">
  <!-- #container -->
  <div id="container">
    <!-- #head -->
    <div id="head">
      <!-- .head-in -->
      <div class="head-in">
        <h1>
          <a href="/"><em>Иностранные языки</em> по Skype</a>
        </h1>
        <div class="login-link">
          <a href="#">Личный кабинет</a>
        </div>
      </div>
      <!--// .head-in -->
      <!-- .menu -->
      <div class="menu">
        <ul class="menu-in">
                <li><a href="/">Главная</a></li>
                <li><a href="/about">О нас</a></li>
                <li><a href="/price">Цены и курсы</a></li>
                <li><a href="/reviews">Отзывы</a></li>
                <li><a href="/questions">Вопросы и ответы</a></li>
                <li><a href="/contacts">Контакты</a></li>
        </ul>
      </div>
      <!--// .menu -->
    </div>
    <!--// #head -->


    <!-- #main -->
    <div id="main">
      <!-- #content -->
      <div id="content">
          <h1>500.</h1>
          <p>Внутренняя ошибка сервера.</p>
      </div>
      <!--// #content -->
    </div>
    <!--// #main -->
    <div class="empty"></div>
  </div>
  <!--// #container -->
  <!-- #footer -->
  <div id="footer">
    <div class="footer-in">
      <ul class="f-contacts">
        <li>Телефон: <span class="tel">495 567-65-67</span></li>
        <li>E-mail: <a href="#">englin@mail.ru</a></li>
        <li class="skype"><a href="#">skype</a></li>
      </ul>
      <ul class="copyright">
        <li>Все права защищены. 2012.</li>
        <li>Web-design: <a href="#">Elizart.ru</a></li>
      </ul>
      <i class="f-left-pic"></i>
      <i class="f-right-pic"></i>
    </div>
  </div>
  <!--// #footer -->
</body>
</html>