{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block extended_head %}
    {{ header_content|safe }}
{% endblock %}

{% block content %}
<div id="wrapper">
    <h2>Корзина</h2>
    <p>
        <img src="/static/images/paper.png" />
        <a href="index.html">Главная</a>
        &#8722; Корзина
    </p>
    <table class="catalog" rules="all" border="1">
        <tr>
            <td>Фото</td>
            <td>Артикул</td>
            <td>Наименование</td>
            <td>Марка авто</td>
            <td>Производитель</td>
            <td>Цвет</td>
            <td>Количество</td>
            <td><span class="red">Цена</span></td>
            <td><span class="blue">Предоплата</span></td>
            <td>Удалить</td>
        </tr>
        <tr>
            <td><img src="/static/images/photo.jpg"></td>
            <td>DF24589</td>
            <td class="left">
                <p>
                    <h3>
                        <a href="Index_4.html">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a>
                    </h3> 
                    узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;
                </p><a href="#">&#62;&#62;</a>
            </td>
            <td>ВАЗ 21083</td>
            <td><a href="#">Jurid/Bendix</a></td>
            <td><div class="box"></div></td>
            <td><input type="text" value="1" id="number"> шт.</td>
            <td><b>3875</b></td>
            <td>1200</td>
            <td><a href="#"><img src="/static/images/x.png"></a></td>
        </tr>
        <tr>
            <td><img src="/static/images/photo.jpg"></td>
            <td>DF24589</td>
            <td class="left">
                <p>
                    <h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> 
                    узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;
                </p>
                <a href="#">&#62;&#62;</a>
            </td>
            <td>ВАЗ 21083</td>
            <td><a href="#">Jurid/Bendix</a></td>
            <td><div class="box"></div></td>
            <td><input type="text" value="1" id="number"> шт.</td>
            <td><b>3875</b></td>
            <td>1200</td>
            <td><a href="#"><img src="/static/images/x.png"></a></td>
        </tr>
        <tr>
            <td><img src="/static/images/photo.jpg"></td>
            <td>DF24589</td>
            <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
            <td>ВАЗ 21083</td>
            <td><a href="#">Jurid/Bendix</a></td>
            <td><div class="box"></div></td>
            <td><input type="text" value="1" id="number"> шт.</td>
            <td><b>3875</b></td>
            <td>1200</td>
            <td><a href="#"><img src="/static/images/x.png"></a></td>
        </tr>
    </table>
    
    <div class="total">
        <p>Итого у нас выбрано:<b>3 товара</b> <span class="red"> 19600</span><span class="blue"> 3600</span></p>
        <input type="button" id="count" value="Пересчитать" name="count"/>
    </div>
    <div class="check-box">
        <h5>Выбор типа оплаты</h5>
            <div class="round cash">
                <label for="radio">
                    <img src="/static/images/cash-box.jpg"><h6>Оплата за наличные</h6>
                </label>
                <input type="radio" id="radio" name="radio">
            </div>
            <div class="round out"> 
                <label for="robot"><img src="/static/images/robot.jpg"><h6>Безналичный расчет</h6></label>
                <input type="radio" id="robot" name="radio">
            </div>
    </div>

    <div class="radio-box">
        <h5>Выбор варианта доставки</h5>
        <p>
            <input type="radio" name="deliver" id="myself"><label for="myself">Самовывоз со склада:</label>
        </p>
        <ul>
            <li>ул. Название, д. 54, офис 705, тел.: +7 (495) 234-56-78</li>
            <li>ул. Название, д. 54, офис 705, тел.: +7 (495) 234-56-78</li>
            <li>ул. Название, д. 54, офис 705, тел.: +7 (495) 234-56-78</li>
        </ul>
        <p><input type="radio" name="deliver" id="deliver"><label for="deliver">Доставка по Москве и МО</label></p>
        <p><input type="radio" name="order" id="reg"><label for="reg"><img src="/static/images/man.png">Заказ без регистрации</label></p>
        <p><label for="fio"><strong>ФИО</strong><input type="text" name="name" id="fio"></label></p>
        <p><label for="tel"><strong>Телефон</strong><input type="text" name="tel" id="tel"></label></p>
        <p><label for="time"><strong>Удобное время для звонка</strong><input type="text" placeholder="00" name="hour" id="time"  maxlength="2" /></label>:<input type="text" placeholder="00" name="minute" maxlength="2" id="time2"></p>
        <p><input type="radio" name="order" id="order"><label for="order"><img src="/static/images/man2.png">Заказ с регистрацией</label></p>
    </div>
    <input type="button" id="forma" value="Оформить" name="forma" />
    
    <div id="comments">
        <h5>Комментарии к заказу</h5>
        <textarea></textarea>
    </div>
</div>
{% endblock %}