{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block extended_head %}
    {{ header_content|safe }}
{% endblock %}

{% block content %}
<div id="wrapper">
      <div id="wrapper">
       <h2>Каталог</h2><p><img src="static/images/paper.png"><a href="index.html">ВАЗ-21083</a> &#8722; <a href="index.html">Двигатель </a> &#8722; Карбюратор</p>
		   <table class="catalog" rules="all" border="1">
			  <!--<tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="Index_4.html">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="Index_4.html">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color1"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color2"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
				  </td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color3"></div></td>
				  <td class="color">  <span class="orange"></span>
									  <span class="orange"></span>
									  <span class="orange"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color4"></div></td>
				  <td class="color"><span class="orange"></span>
				  <span class="orange"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
				  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color3"></div></td>
				  <td class="color">  <span class="red_box"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color5"></div></td>
				  <td class="color"><span class="red">Нет</span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color6"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car_red.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color7"></div></td>
				  <td class="color"><span class="green"></span>
								  <span class="green"></span>
								  <span class="green"></span>
								  <span class="green"></span>
								  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
			  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color8"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color9"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color10"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>-->
			  <tr>
<!-- 				  <td>Производитель</td> -->
				  <td>Фото</td>
				  <td>Артикул</td>
				  <td>Наименование</td>
				  <td>На автомобиль</td>
				  <td>Цвет</td>
				  <td>Наличие</td>
				  <td><span class="red">Цена</span></td>
<!-- 				  <td><span class="blue">Предоплата</span></td> -->
				  <td>В корзину</td>
			  </tr>
			  
			  {% for i in items %}
			  
			  <tr>
				  <td><img src="static/images/photo.jpg" alt='{{ i.name }}' ></td>
				  <td>{{ i.art }}</td> 
				  <td class="left">
					<p><h3><a href="/catalog/{{ i.id }}">{{ i.name }}</a></h3> <!--узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="Index_4.html">&#62;&#62;</a>-->
					</p>
				  </td>
				  <td>ВАЗ {{ i.car_model.name }}</td>
<!-- 				  <td><a href="#">Jurid/Bendix</a></td> -->
				  <td>{% if i.colour %} {{ i.colour.name }} {% else %} --- {% endif %}</td>
				  <td class="color">
					<span class="green"></span>
					<span class="green"></span>
					<span class="green"></span>
					<span class="green"></span>
					<span class="green"></span>
				</td>
				  <td><b>{{ i.price }} руб.</b></td>
<!-- 				  <td>1200</td> -->
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  
			  {% endfor %}
			  <!--
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="Index_4.html">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="Index_4.html">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color1"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color2"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
				  </td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color3"></div></td>
				  <td class="color">  <span class="orange"></span>
									  <span class="orange"></span>
									  <span class="orange"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color4"></div></td>
				  <td class="color"><span class="orange"></span>
				  <span class="orange"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
				  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color3"></div></td>
				  <td class="color">  <span class="red_box"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color5"></div></td>
				  <td class="color"><span class="red">Нет</span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color6"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car_red.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color7"></div></td>
				  <td class="color"><span class="green"></span>
								  <span class="green"></span>
								  <span class="green"></span>
								  <span class="green"></span>
								  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
			  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color8"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color9"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>
			  <tr>
				  <td><img src="static/images/photo.jpg"></td>
				  <td>DF24589</td>
				  <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
				  <td>ВАЗ 21083</td>
				  <td><a href="#">Jurid/Bendix</a></td>
				  <td><div class="box color10"></div></td>
				  <td class="color"><span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span>
									  <span class="green"></span></td>
				  <td><b>3875</b></td>
				  <td>1200</td>
				  <td><a href="#"><img src="static/images/car.jpg"></a></td>
			  </tr>-->
			  </table><!--."catalog-->
	          <div id="page_nav">
			      <div class="page_navigation">
				        <a href="#"><img src="static/images/page_nav.jpg" /></a>
						<ul>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li class='active'><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">6</a></li>
							<li><a href="#">7</a></li>
							<li><a href="#">8</a></li>
							<li><a href="#">9</a></li>
							<li><a href="#">10</a></li>
						</ul><a href="#"><img src="static/images/page_next.jpg" /></a>
			</div><!--#page_nav-->
				</div><!--.page_navigation-->
	    </div><!-- #wrapper-->
{% endblock %}