{% extends 'base.html' %}

{% block title %} Запчасти на ВАЗ | Автозапчасти для ВАЗ | Крашеные запчасти {% endblock %}

{% block extended_head %}
	<meta name="telderi" content="68d9371d08d1dd4aaf337d9660abb72d" />
    {{ header_content|safe }}
{% endblock %}

{% block content %}
			<div id="container">
				<div id="content">
					<h2>ИНТЕРНЕТ-МАГАЗИН ПРОДАЕТСЯ!</h2> 
					{{ about|safe }}
					  <figure><h5>Добро пожаловать в онлайн магазин запчастей для автомобилей ВАЗ!</h5>
							 <div class="d-carousel">
								  <ul class="carousel">
										<li><p class="box_img"><a href="#"><img src="/static/images/item-1.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Бампер ВАЗ 2110</a></span> -->
										</li>
										<li><p class="box_img"><a href="#"><img src="/static/images/item-2.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Крыло ВАЗ 2112</a></span> -->
										</li>
										<li><p class="box_img"><a href="#"><img src="/static/images/item-3.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Крашеный бампер ВАЗ 2114</a></span> -->
										</li>
										<li><p class="box_img"> <a href="#"><img src="/static/images/item-4.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Бампер в цвет ВАЗ 2101</a></span> -->
										</li>
										<li><p class="box_img"> <a href="#"><img src="/static/images/item-5.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Крашеное крыло ВАЗ 2105</a></span> -->
										</li>
										<li><p class="box_img"> <a href="#"><img src="/static/images/item-1.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Крыло в цвет ВАЗ 2112</a></span> -->
										</li>
										 <li><p class="box_img"> <a href="#"><img src="/static/images/item-2.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Крашеная дверь ВАЗ 2110</a></span> -->
										</li>
										<li><p class="box_img"> <a href="#"><img src="/static/images/item-3.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Дверь в цвет Лада Приора</a></span> -->
										</li>
										<li><p class="box_img"> <a href="#"><img src="/static/images/item-4.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Задний бампер Лада Калина</a></span> -->
										</li>
										<li><p class="box_img"> <a href="#"><img src="/static/images/item-5.jpg" alt="" /></a></p>
<!-- 										    <span><a href="#">Передний бампер Нива</a></span> -->
										</li>
								  </ul>
							</div>

					  </figure>
					  

					  <article> <h2>Доставка и оплата</h2> <img src="/static/images/article-1.png">{{ delivery|safe }} </article>
					   <article class="art-2"> <h2>Ассортимент</h2> <img src="/static/images/article-3.png"> {{ catalog|safe }} </article> 
					   <article> <h2>Наши гарантии</h2> <img src="/static/images/article-2.png"> {{ warranty|safe }} </article>
					   <article class="art-2"> <h2>Скидки и акции</h2><img src="/static/images/article-4.png"> {{ sale|safe }} </article>  
     
		      </div><!-- #content-->


			  <aside>
				<h2>Новости</h2>
					{% for n in news %}
						<article>
							<time pubedate>{{ n.date.date }}</time>
							<h3><u>{{ n.name }}</u></h3> 
							<p>{{ n.text|safe }}</p>
						</article> 
					{% endfor %}
					<div class="images">
					<img src="/static/images/cars.jpg"></div>
					<img class="img_bottom" src="/static/images/figure.jpg">
					
				</aside>
	    </div><!-- #container-->
{% endblock %}
