<!DOCTYPE html>
<html>
	<head>
		  <meta charset="utf-8">
		  <title>Запчасти для ВАЗ</title>
		  <meta name="description" content="" />
		  <meta name="keywords" content="" />
		  <link rel="stylesheet" href="styles/style.css">
		  <script src="js/jquery-1.7.2.min.js"></script>
		  <script src="js/slides.min.jquery.js"></script>
		  <script type="text/javascript" src="js/jquery.jcarousel.js"></script>
		  <script>
					jQuery(document).ready(function() {
					// Initialise the first and second carousel by class selector.
					// Note that they use both the same configuration options (none in this case).
					jQuery('.d-carousel .carousel').jcarousel({
						scroll: 1
					});
				});
		  </script>

		  <!--[if lt IE 9]> 
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
		  <![endif]-->
	</head>
	<body class="sale">
	<header>
		<div id="header">
			<a href="#"><img src="images/logo2.jpg"></a>
			<div class="boxes">
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box"></div>
				<div class="box last"></div>
				<div class="box last"></div>
			</div><!--.boxes-->
			<div id="shedule">
				<p class="caption">График работы:</p>
				<p class="one">Пн-Пт</p>
				<p class="two">10:00 - 19:00</p>
				<p class="one">Cб-Вс</p>
				<p class="two">Выходной</p>
			</div><!--#shedule-->
			<div id="contacts">
				 <table><tr>
							<td class="right">icq </td>
							<td>123456</td>
				        </tr>
					    <tr>
							<td class="right">skype </td>
							<td>shopskype</td>
					    </tr>
					    <tr>
						    <td class="right">email </td>
							<td>info@shop.ru</td>
					    </tr>
				 </table>
				 <div class="share42init"></div>
							<script type="text/javascript" src="js/share42/share42.js"></script>
							<script type="text/javascript">share42('js/share42/')</script>
			</div><!--#contacts-->
				<div class="phone">
						<h4>Телефоны:</h4>
						<p class="number"><span>+7 (495)</span> 235-45-67 </p>
						<p class="number"><span>+7 (495)</span> 458-24-78</p>
				</div><!--#phone-->
				<div id="entry">
						<p><label for="login">Логин</label>
							<input type="text" id="login" />
							<input type="checkbox" id="remember" />
							<label for="remember">Запомнить</label></p>
						<p><label for="pass">Пароль</label><input type="password" id="pass" />
							<input type="button" id="button-entry" value="вход" /></p>
						<p><a href="#">Забыли пароль?</a>
							<a href="#">Регистрация</a></p>
				</div><!--#entry-->
		</div><!--#header-->
	</header>
    <nav>
	     <ul>
            <li><a href="Index.html" class="home">Главная</a></li>
            <li><a href="#" class="about">О компании</a></li>
            <li><a href="#" class="contact">Контакты</a></li>
            <li><a href="#" class="delivery">Доставка и оплата</a></li>
            <li><a href="#" class="promotions">Скидки и акции</a></li>
            <li><a href="Index_3.html" class="list">Каталог</a></li>
            <li><a href="#" class="comment">Отзывы</a></li>
            <li><a href="#" class="articles">Статьи</a></li>
         </ul>
    </nav>
    <div id="search">
				<aside>
					<img id="logo-out" src="images/logo-out.png">
				    <div id="basket">
						  <img src="images/basket.jpg">
						  <section>
							  <p>В вашей корзине:<br> <b>3 товара</b></p>
							  <p>На сумму: <span class="red"> 19600</span></p>
							  <p>Предоплата:<span class="blue"> 3600</span></p>
							  <a href="index_2.html">Оформить заказ</a>
						  </section>
					</div><!--basket-->
				    <input type="text" name="search" id="poisk" placeholder="Что будем искать?">
					<p><select class="auto" size="1" name="auto-select">
							<option selected>Выбор марки авто</option>
							<option value="Vaz-2121">Ваз-2121</option>
							<option value="Vaz-1313">ВАЗ-1313</option>
							<option value="Vaz-1414">Ваз-1414</option>
							<option value="Vaz-1525">ВАЗ-1525</option>
					   </select>
					   <select class="color" size="1" name="color-select">
							<option selected>Выбор цвета</option>
							<option value="Белый">Белый</option>
							<option value="Красный">Красный</option>
							<option value="Синий">Синий</option>
							<option value="Желтый">Желтый</option>
				       </select>
					</p>
					<p><select class="type" size="1" name="type-select">
							<option selected>Тип детали</option>
							<option value="Vaz-2121">Ваз-2121</option>
							<option value="Vaz-1313">ВАЗ-1313</option>
							<option value="Vaz-1414">Ваз-1414</option>
							<option value="Vaz-1525">ВАЗ-1525</option>
				       </select>
				       <input type="button" id="search-button" value="Найти" />
					</p>
		        </aside>
    </div><!--#search-->
<div id="middle2">
	  <div id="wrapper">
      <h2>Корзина</h2><p><img src="images/paper.png"><a href="index.html">Главная</a>&#8722; Корзина</p>
      <table class="catalog" rules="all" border="1"><tr>
      <td>Фото</td>
      <td>Артикул</td>
      <td>Наименование</td>
      <td>Марка авто</td>
      <td>Производитель</td>
      <td>Цвет</td>
      <td>Количество</td>
      <td><span class="red">Цена</span></td>
      <td><span class="blue">Предоплата</span></td>
      <td>Удалить</td>
      </tr>
            <tr>
      <td><img src="images/photo.jpg"></td>
      <td>DF24589</td>
      <td class="left"><p><h3><a href="Index_4.html">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
      <td>ВАЗ 21083</td>
      <td><a href="#">Jurid/Bendix</a></td>
      <td><div class="box"></div></td>
      <td><input type="text" value="1" id="number"> шт.</td>
      <td><b>3875</b></td>
      <td>1200</td>
      <td><a href="#"><img src="images/x.png"></a></td>
      </tr>
            <tr>
      <td><img src="images/photo.jpg"></td>
      <td>DF24589</td>
      <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
      <td>ВАЗ 21083</td>
      <td><a href="#">Jurid/Bendix</a></td>
      <td><div class="box"></div></td>
      <td><input type="text" value="1" id="number"> шт.</td>
      <td><b>3875</b></td>
      <td>1200</td>
      <td><a href="#"><img src="images/x.png"></a></td>
      </tr>
            <tr>
      <td><img src="images/photo.jpg"></td>
      <td>DF24589</td>
      <td class="left"><p><h3><a href="#">Карбюратор ВАЗ-2107-20 V=1500-1600 с вакуум-кор. ДААЗ</a></h3> узел системы питания ДВС Отто, предназначенный для создания горючей смеси оптимального состава путем смешивания&#8230;</p><a href="#">&#62;&#62;</a></td>
      <td>ВАЗ 21083</td>
      <td><a href="#">Jurid/Bendix</a></td>
      <td><div class="box"></div></td>
      <td><input type="text" value="1" id="number"> шт.</td>
      <td><b>3875</b></td>
      <td>1200</td>
      <td><a href="#"><img src="images/x.png"></a></td>
      </tr>
         </table>
     <div class="total">
     Итого у нас выбрано:<b>3 товара</b> <span class="red"> 19600</span><span class="blue"> 3600</span></p>
     <input type="button" id="count" value="Пересчитать" name="count"/>
     </div>
      <div class="check-box">
      <h5>Выбор типа оплаты</h5>
     <form><div class="round cash"> <p><label for="radio"><img src="images/cash-box.jpg"></p><h6>Оплата за наличные</h6></label><input type="radio" id="radio" name="radio"></div>
     <div class="round out"> <p><label for="robot"><img src="images/robot.jpg"></p><h6>Безналичный расчет</h6></label><input type="radio" id="robot" name="radio"></div>
      </div>
      
      <div class="radio-box"><h5>Выбор варианта доставки</h5>
      <p><input type="radio" name="deliver" id="myself"><label for="myself">Самовывоз со склада:</label></p><ul>
      <li>ул. Название, д. 54, офис 705, тел.: +7 (495) 234-56-78</li>
            <li>ул. Название, д. 54, офис 705, тел.: +7 (495) 234-56-78</li>
                  <li>ул. Название, д. 54, офис 705, тел.: +7 (495) 234-56-78</li></ul>
       <p><input type="radio" name="deliver" id="deliver"><label for="deliver">Доставка по Москве и МО</label></p>
      <p><input type="radio" name="order" id="reg"><label for="reg"><img src="images/man.png">Заказ без регистрации</label></p>
      <p><label for="fio"><strong>ФИО</strong><input type="text" name="name" id="fio"></label></p>
           <p><label for="tel"><strong>Телефон</strong><input type="text" name="tel" id="tel"></label></p>
                <p><label for="time"><strong>Удобное время для звонка</strong><input type="text" placeholder="00" name="hour" id="time"  maxlength="2" /></label>:<input type="text" placeholder="00" name="minute" maxlength="2" id="time2"></p>
       <p><input type="radio" name="order" id="order"><label for="order"><img src="images/man2.png">Заказ с регистрацией</label></p>
</form>

      </div>
	     <input type="button" id="forma" value="Оформить" name="forma"/>
      <div id="comments">
      <h5>Комментарии к заказу</h5><form><textarea></textarea></form></div>
	
      			</div><!-- #wrapper-->

	</div><!-- #middle-->
    <footer>
		  <div id="footer">
			  <div class="foot">
				  <a href="#"><img src="images/logo-foot.jpg"></a>
				  <p>Интернет-магазин автозапчастей для автомобилей марки «ВАЗ»</p>
				  <img src="images/counter.jpg">
			  </div><!--.foot-->
			  <div class="foot left"><h6><a href="#">Доставка и оплата</a></h6>
				  <p>Мы осуществляем доставку нашего магазина во все регионы Российской Федерации.</p>
						<p>Стоимость доставки можно рассчитать на сайте транспортной компании <a href="#">EMS Почта России</a></p>
			  </div><!--.foot.left-->
			  <div class="foot">				
			       <table>
				         <tr>
						     <td rowspan="2" class="right">icq </td>
							 <td>123456</td>
					     </tr>
						 <tr>
							 <td>5464565</td>
						 </tr>
						 <tr>
						     <td class="right">skype </td>
							 <td>shopskype</td>
						</tr>
						<tr><td class="right">email </td>
							<td><a href="#">info@shop.ru</a></td>
						</tr>
					</table>
				    <div class="phone-foot">		<h4>Телефоны:</h4>
							<p class="number"><span>+7 (495)</span> 235-45-67 </p>
							<p class="number"><span>+7 (495)</span> 458-24-78</p>
					</div><!--.phone-foot-->
			  </div><!--.foot-->
			  <div class="foot"><ul>
									<li><a href="#">Главная</a></li>
									<li><a href="#">О компании</a></li>
									<li><a href="#">Контакты</a></li>
									<li><a href="#">Доставка и оплата</a></li>
									<li><a href="#">Скидки и акции</a></li>
									<li><a href="#">Каталог</a></li>
									<li><a href="#">Отзывы</a></li>
									<li><a href="#">Статьи</a></li>
			               		</ul> 
			  </div><!--.foot-->
	     </div><!--#footer-->		  
      </footer>
   </body>
</html>